body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  text-align: center;
  position: relative;
  left: 35%;
  top: 70px;
}

.card p {
  position: relative;
  left: -14px;
}

form {
  text-align: center;
  position: relative;
  left: -1%;
  top: 100px;
}
